<div class="form-card">
    <h2>Nouveau Partage</h2>
    <form [formGroup]="partageForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Url de l'image</label>
            <input type="text" id="imageUrl" formControlName="imageUrl">
        </div>
        <div class="form-group">
            <label for="Location">Lieu</label>
            <input type="text" id="Location" formControlName="location">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
        </div>
    </form>
</div>

<div class="face-snap-card" *ngIf="partageImageApercu$ | async as partageImage">
    <h2>{{ partageImage.title | uppercase }}</h2>
    <p>Mis en ligne {{ partageImage.dateCreation | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="partageImage.imageUrl" [alt]="partageImage.title">
    <p>{{ partageImage.description }}</p>
    <p *ngIf="partageImage.location">Photo prise à {{ partageImage.location }}</p>

</div>